lottery-tickets-native/node_modules/
lottery-tickets-native/src/*/Cargo.lock
lottery-tickets-native/src/*/target/
lottery-tickets-native/test-ledger/
lottery-tickets-native/package-lock.json
lottery-tickets-native/dist/

lottery-tickets-anchor/node_modules/
lottery-tickets-anchor/src/*/Cargo.lock
lottery-tickets-anchor/src/*/target/
lottery-tickets-anchor/test-ledger/
lottery-tickets-anchor/package-lock.json
lottery-tickets-anchor/dist/

test-ledger/